@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/RobotoRegular.eot');
  src: url('../../fonts/RobotoRegular.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/RobotoRegular.woff2') format('woff2'),
  url('../../fonts/RobotoRegular.woff') format('woff'),
  url('../../fonts/RobotoRegular.ttf') format('truetype'),
  url('../../fonts/RobotoRegular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../fonts/PoppinsMedium.eot');
  src: url('../../fonts/PoppinsMedium.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/PoppinsMedium.woff2') format('woff2'),
  url('../../fonts/PoppinsMedium.woff') format('woff'),
  url('../../fonts/PoppinsMedium.ttf') format('truetype'),
  url('../../fonts/PoppinsMedium.svg#Poppins-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../../fonts/OpenSansMedium.eot');
  src: url('../../fonts/OpenSansMedium.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/OpenSansMedium.woff2') format('woff2'),
  url('../../fonts/OpenSansMedium.woff') format('woff'),
  url('../../fonts/OpenSansMedium.ttf') format('truetype'),
  url('../../fonts/OpenSansMedium.svg#OpenSans-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../fonts/PoppinsBold.eot');
  src: url('../../fonts/PoppinsBold.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/PoppinsBold.woff2') format('woff2'),
  url('../../fonts/PoppinsBold.woff') format('woff'),
  url('../../fonts/PoppinsBold.ttf') format('truetype'),
  url('../../fonts/PoppinsBold.svg#Poppins-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../fonts/PoppinsSemiBold.eot');
  src: url('../../fonts/PoppinsSemiBold.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/PoppinsSemiBold.woff2') format('woff2'),
  url('../../fonts/PoppinsSemiBold.woff') format('woff'),
  url('../../fonts/PoppinsSemiBold.ttf') format('truetype'),
  url('../../fonts/PoppinsSemiBold.svg#Poppins-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Volkhov';
  src: url('../../fonts/VolkhovBold.eot');
  src: url('../../fonts/VolkhovBold.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/VolkhovBold.woff2') format('woff2'),
  url('../../fonts/VolkhovBold.woff') format('woff'),
  url('../../fonts/VolkhovBold.ttf') format('truetype'),
  url('../../fonts/VolkhovBold.svg#Volkhov-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../fonts/PoppinsRegular.eot');
  src: url('../../fonts/PoppinsRegular.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/PoppinsRegular.woff2') format('woff2'),
  url('../../fonts/PoppinsRegular.woff') format('woff'),
  url('../../fonts/PoppinsRegular.ttf') format('truetype'),
  url('../../fonts/PoppinsRegular.svg#Poppins-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Google Sans';
  src: url('../../fonts/GoogleSansRegular.eot');
  src: url('../../fonts/GoogleSansRegular.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/GoogleSansRegular.woff2') format('woff2'),
  url('../../fonts/GoogleSansRegular.woff') format('woff'),
  url('../../fonts/GoogleSansRegular.ttf') format('truetype'),
  url('../../fonts/GoogleSansRegular.svg#GoogleSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/MontserratRegular.eot');
  src: url('../../fonts/MontserratRegular.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/MontserratRegular.woff2') format('woff2'),
  url('../../fonts/MontserratRegular.woff') format('woff'),
  url('../../fonts/MontserratRegular.ttf') format('truetype'),
  url('../../fonts/MontserratRegular.svg#Montserrat-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}