.swiper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
  max-height: 400px;

  @media all and (min-width: 498px) {
    padding: 20px;
  }

  @media all and (min-width: 590px) {
    flex-direction: row;
  }

  &-slide {
    max-height: 400px;
  }

  &-buttons {
    display: flex;
    flex-direction: row;
    gap: 57px;

    @media all and (min-width: 590px) {
      flex-direction: column;
    }
  }

  &-pagination-bullet {
    &-active {
      transition: all ease $tr;
      background-color: #39425D;
    }
  }

  &-button {
    transition: opacity ease $tr;

    &-disabled {
      opacity: 0.3;
    }
  }

  &-pagination {
    position: static;
    display: flex;
    gap: 26px;
  }

  &-slide-button-prev, &-slide-button-next {
    padding: 10px;
    z-index: 99;
    cursor: pointer;
  }
}