.category {
  position: relative;
  padding-top: 48px;
  padding-bottom: 32px;

  @media all and (min-width: 790px) {
    padding-top: 28px;
    padding-bottom: 42px;
  }

  @media all and (min-width: $xl) {
    padding-top: 48px;
    padding-bottom: 61px;
  }

  &__background {
    position: absolute;
    right: 10%;
    z-index: -1;
  }

  &__subtitle {
    margin-bottom: 10px;
    color: #5E6282;
    text-align: center;
    font-family: $text;
    font-size: $fs-md;
    font-weight: $fw-semibold;
    line-height: normal;

    @media all and (min-width: 790px) {
      font-size: $fs-lg;
    }
  }

  &__title {
    margin-bottom: 20px;
    color: $nave-blue;
    text-align: center;
    font-family: $ff-title;
    font-size: 28px;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;

    @media all and (min-width: 460px) {
      font-size: 32px;
    }

    @media all and (min-width: 790px) {
      margin-bottom: 60px;
      font-size: 42px;
    }

    @media all and (min-width: $xl) {
      margin-bottom: 80px;
      font-size: 50px;
    }
  }

  &__items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    z-index: 3;

    @media all and (min-width: 580px) {
      gap: 30px;
    }

    @media all and (min-width: 982px) {
      gap: 60px;
    }
  }

  &__item {
    position: relative;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $white;
    border-radius: 36px;

    @media all and (min-width: 580px) {
      padding: 25px;
    }

    &:before {
      content: '';
      position: absolute;
      bottom: -5%;
      left: -10%;
      width: 100px;
      height: 100px;
      border-radius: 30px 0px 10px 0px;
      background-color: #DF6951;
      z-index: -1;
      opacity: 0;

      @media all and (min-width: 580px) {
        bottom: -8%;
      }

      @media all and (min-width: 982px) {
        bottom: -13%;
      }

    }

    &:hover:before {
      transition: opacity 0.3s ease-in-out;
      opacity: 1;
    }

    &:hover {
      transition: all 0.3s ease-in-out;
      box-shadow: 0px 1.852px 3.148px 0px rgba(0, 0, 0, 0.00), 0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.01), 0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
      cursor: pointer;

    }

    &_img {
      margin-bottom: 29px;
    }
    &_title {
      margin-bottom: 15px;
      min-width: 190px;
      color: #1E1D4C;
      text-align: center;
      font-family: 'Open Sans', sans-serif;
      font-size: $fs-xl;
      font-weight: $fw-semibold;
      line-height: normal;
    }
    &_description {
      color:  #5E6282;
      max-width: 181px;
      text-align: center;
      font-family: 'Open Sans', sans-serif;
      font-size: $fs-sm;
      font-weight: $fw-medium;
      line-height: 1.73;
      word-wrap: break-word;

      @media all and (min-width: $md) {
        font-size: $fs-md;
      }
    }
  }
}