.subscribe {
  padding-top: 40px;
  padding-bottom: 42px;

  @media all and (min-width: 790px) {
    padding-top: 52px;
    padding-bottom: 64px;
  }

  @media all and (min-width: 1200px) {
    padding-top: 70px;
    padding-bottom: 83px;
  }

  &__wrapper {
    position: relative;
    z-index: 5;
  }

  &__inner {
    position: relative;
    padding: 34px 22px;
    border-radius: 129px 20px 20px 20px;
    background: rgba(223, 215, 249, 0.2);
    overflow: hidden;

    @media all and (min-width: 790px) {
      padding: 44px 62px;
    }

    @media all and (min-width: 790px) {
      padding: 54px 92px;
    }

    @media all and (min-width: 1200px) {
      padding: 79px 144px;
    }
  }

  &__background  {
    position: absolute;

    &_circles {
      position: absolute;
      left: -7%;
      bottom: -2%;
      z-index: -1;
    }
    &_mugs {
      position: absolute;

      right: 0%;
      bottom: 14%;
      z-index: -1;
    }
    &_send {
      position: absolute;
      right: -24px;
      top: -24px;
      z-index: 3;
    }
    &_pros {
      position: absolute;
      right: -9%;
      bottom: -17%;
      z-index: -1;
    }
  }

  &__title {
    margin-bottom: 24px;
    color: #5E6282;
    text-align: center;
    font-family: $text;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.6;

    @media all and (min-width: 790px) {
      margin-bottom: 54px;
      font-size: 23px;
    }

    @media all and (min-width: 1200px) {
      margin-bottom: 74px;
      font-size: 33px;
    }
  }

  &__form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;

    &_email  {
      width: 421px;
    }
    &_label {
      padding-top: 25px;
      padding-left: 31px;
      padding-bottom: 25px;
      display: flex;
      width: 100%;
      align-items: center;
      gap: 14px;
      border-radius: 10px;
      background: $white;

      input {
        flex: 1;
        width: 100%;
        box-sizing: border-box;
        color: #39425D;
        font-family: 'Montserrat';
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
        border: none;
      }
    }

    &_button {
      padding: 22px 50px;
      color: $white;
      text-align: center;
      font-family: 'Open Sans';
      font-size: 17px;
      font-weight: 600;
      line-height: normal;
      border-radius: 10px;
      background:linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
    }
  }


}