.header {
  position: relative;
  padding-top: 28px;
  padding-bottom: 17px;

  @media all and (min-width: 790px) {
    padding-top: 48px;
    padding-bottom: 27px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    padding: 10px;
    border-radius: 30px;
    background-color: #FFFFFF;
    z-index: 60;
  }

  &__inner {
    display: none;
    gap: 86px;

    @media all and (min-width: $xl) {
      display: flex;
    }

    &.open__menu {
      padding: 50px 0;
      display: flex;
      position: fixed;
      width: 100vw;
      height: 100vh;
      top: 100px;
      left: 0;
      flex-direction: column;
      background-color: $black;
      z-index: 50;
      overflow-y: auto;

      @media all and (min-width: 1200px) {
        display: none;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    @media all and (min-width: $xl) {
      flex-direction: row;
      gap: 60px;
    }

    &_item > a {
      color: #ffffff;
      font-family: $ff;
      font-size: 17px;
      font-weight: $fw-regular;
      line-height: normal;
      text-decoration: none;

      @media all and (min-width: $xl) {
        color: #212832;
      }

      &:hover {
        color: #ffa453;
      }
    }
  }

  &__registration {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;

    @media all and (min-width: $xl) {
      flex-direction: row;
      gap: 45px;
    }

    &_login {
      color: #ffffff;
      font-family: $ff;
      font-size: 17px;
      font-weight: $fw-medium;
      line-height: normal;
      border: none;
      background: none;
      cursor: pointer;
      transition: color ease-out $tr;

      @media all and (min-width: $xl) {
        color: #212832;
      }

      &:hover {
        color: #ffa453;
      }
    }
    &_password {
      padding: 9px 22px;
      color: #ffffff;
      font-family: $ff;
      font-size: 17px;
      font-weight: $fw-medium;
      line-height: normal;
      border-radius: 5px;
      background: none;
      border: 1px solid #212832;
      cursor: pointer;
      transition: all ease-out $tr;

      @media all and (min-width: $xl) {
        color: #212832;
      }

      &:hover {
        color: #ffa453;
        border: 1px solid #ffa453;
      }
    }
    &_language {
      display: flex;
      align-items: center;
      gap: 7px;
      color: #ffffff;
      font-family: $ff;
      font-size: 17px;
      font-weight: $fw-medium;
      line-height: normal;
      border: none;
      background: none;
      cursor: pointer;

      @media all and (min-width: $xl) {
        color: #212832;
      }
    }
  }
}