.footer {
  padding-top: 83px;
  padding-bottom: 79px;

  &__inner {
    margin-bottom: 86px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 32px;
    color: $black;

    @media all and (min-width: 471px) {
      flex-direction: row;
      align-items: start;
    }

    @media all and (min-width: 790px) {
      gap: 62px;
    }

    @media all and (min-width: 1200px) {
      gap: 82px;
    }
  }

  &__rights {
    color: #5E6282;
    font-family: $text;
    text-align: center;
    font-size: $fs-sm;
    font-weight: $fw-medium;
    line-height: 124.5%;
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;

    &_logo {
      margin-bottom: 19px;
      color: #181E4B;
      font-family: $text;
      font-size: 44px;
      font-weight: $fw-medium;
      line-height: normal;
      text-decoration: none;
    }

    &_text {
      max-width: 207px;
      color: #5E6282;
      font-family: $text;
      font-size: 13px;
      font-weight: $fw-medium;
      line-height: 124.5%;
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 32px;

    @media all and (min-width: 471px) {
      flex-direction: row;
      gap: 57px;
    }

    @media all and (min-width: 790px) {
      gap: 65px;
    }

    @media all and (min-width: 1200px) {
      gap: 71px;
    }
  }

  &__item {
    &_subtitle {
      margin-bottom: 22px;
      font-family: $text;
      text-align: center;
      font-size: $fs-md;
      font-weight: $fw-bold;
      line-height: 124.5%;

      @media all and (min-width: 471px) {
        text-align: start;
      }

      @media all and (min-width: $md) {
        margin-bottom: 26px;
        font-size: $fs-lg;
      }

      @media all and (min-width: $xxl) {
        margin-bottom: 32px;
        font-size: 21px;
      }

      a {
        color: $black;
        text-decoration: none;
      }
    }

    &_link {
      margin-bottom: 13px;
      font-family: $text;
      text-align: center;
      font-size: $fs-sm;
      font-weight: $fw-medium;
      line-height: 124.5%;

      @media all and (min-width: 471px) {
        text-align: start;
      }

      @media all and (min-width: $md) {
        font-size: $fs-md;
      }

      @media all and (min-width: $xxl) {
        font-size: $fs-lg;
      }

      a {
        color: #5E6282;
        text-decoration: none;

        &:hover {
          color: #ffa453;
        }
      }
    }
  }

  &__links {
    &_socials {
      margin-bottom: 26px;
      display: flex;
      justify-content: center;
      gap: 25px;

      @media all and (min-width: 1200px) {
        justify-content: start;
      }
    }

    &_social {
     display: flex;
      align-items: center;
      justify-content: center;
      width: 41px;
      height: 41px;
      border-radius: 50%;
      fill: $white;
      filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.10));
      background-color: $white;
      transition: all $tr ease-in-out ;

      &:nth-child(2) {
        width: 45px;
        height: 45px;
      }

      &:hover {
        background: conic-gradient(from 180deg at 50% 50%, #B8D2F1 0deg, #F289AA 60.00000178813934deg, #C68BF0 106.09081864356995deg, #D164DA 153.7500035762787deg, #C963E8 221.24999284744263deg, #BFC2E8 258.75deg, #FFC999 288.7499928474426deg, #D0D8C9 315deg, #BAD0F1 334.13365602493286deg, #CED8CB 358.9677572250366deg, rgba(255, 255, 255, 0.00) 360deg);
        filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.10));
      }

    }

    &_app {
      color: #5E6282;
      font-family: $text;
      font-size: $fs-xl;
      text-align: center;
      font-weight: $fw-medium;
      line-height: 124.5%;
      letter-spacing: 0.1px;

      @media all and (min-width: 1200px) {
        text-align: start;
      }
    }

    &_buttons {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 7px;

      @media all and (min-width: 1200px) {
        justify-content: start;
      }

    }

    &_button {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px 17px;
      max-width: 160px;
      text-decoration: none;
      border-radius: 30px;
      color: $white;
      background-color: $black;

      p {
        margin: 0;
        max-width: 94px;
        font-family: $text;
        font-size: 12px;
        font-weight: 400;
        line-height: 124.5%;
        letter-spacing: 0.1px;
        transition: all $tr ease-in-out ;
      }
      &:hover {
        box-shadow: 4px 4px 8px 5px rgba(34, 60, 80, 0.2);
      }
    }
  }
}